<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<br><br>
<hr class="one">

<h1 align="center">
    <img id="logoImage" src="https://cdn.pixabay.com/photo/2016/02/19/11/19/office-1209640_960_720.jpg" width="700"
         height="500">
</h1>

<br>

<br><br>
<i class="far fa-hand-spock" aria-hidden="ture"></i>
<a href="https://velog.io/@daydream"> Velog.io/@daydream </a>
<br>
<a href="https://github.com/HongJungWan"> Github.com/HongJungWan </a>
<br><br><br><br>
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>