<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<br><br>
<hr class="one">

<br>
<i class="far fa-hand-spock" aria-hidden="ture"></i>
<a href = "https://velog.io/@daydream"> Velog.io/@daydream </a>
<br>
<a href = "https://github.com/HongJungWan"> Github.com/HongJungWan </a>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>