{{>layout/header}}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<div class="box"
     style="background: #BDBDBD; width:150px; height:150px; border-radius:60%; overflow:hidden; margin:auto;">
    <br><br>
    <h2 align="center">Contact</h2>
</div>

<br>
<h3 align="center">
    <img id="logoImage" src="https://cdn.pixabay.com/photo/2016/02/19/11/19/office-1209640_960_720.jpg" width="550"
         height="450">
</h3>

<br>
<div class="col-md-12">
    <!-- 로그인 기능 영역 -->
    <div class="row">

        <div class="col-md-6">

            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userName}}
                Looged in as : <span id="user">{{userName}}</span>
                <a href="/logout" class="btn" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn" role="button" ;>
                    Google Login
                </a>
                <a href="/oauth2/authorization/naver" class="btn" role="button" ;>
                    Naver Login
                </a>
            {{/userName}}
        </div>
    </div>
</div>
<br><br>

<!-- 목록 출력 영역 -->
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>게시글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종수정일</th>
    </tr>
    </thead>

    <tbody id="tbody">
    {{#posts}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/posts/update/{{id}}">{{title}}</a></td>
            <td>{{author}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
    {{/posts}}
    </tbody>
</table>
<br><br>

<hr>

<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://contact-8.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>

<br><br>

{{>layout/footer}}